@model UserPage.Models.UserViewModel
<!--using the userViewModel.cs file for variables: userName, coinDataJson, currency, coinName-->
<!--it's in json for now but i will conver to XML. I hade my API do Json and didn't wanna spend time changing that, easier to just convert it once more to XML-->
@{
    ViewBag.Title = "User Page";
}



<div style="padding: 20px; font-family: Arial, sans-serif;">
    <!-- font, basic-->
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2>Welcome @Model.Username to IBG Crypto Search!</h2> <!--I=Igris, B= Bhavya, G= Gavin-->
        <div>
            <span>Public User: @Model.Username</span> <!--Logged in as public user-->
            <!--Bhavya-->
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                <a href="@Url.Action("SignOut", "Home")">
                    <button type="button">Sign Out</button> <!-- Getting error about button inside tag a, but other combinations keep returning errors-->
                </a>
            }
            <!--end Bhavya-->
        </div>
    </div>

    <hr />

    <!--Form area for the crypto stuff-->
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <label>Coin Name: </label>
        <input type="text" name="coinName" value="@Model.CoinName" /> <!--insert the coin name to textbox here-->

        <label style="margin-left: 15px;">Currency: </label>
        <input type="text" name="currency" value="@Model.Currency" /> <!--insert the currency you wish to view. USD is base-->

        <button type="submit" style="margin-left: 15px;">Search</button>

    }
    <br />
    <span>Default is set to Bitcoin and USD, feel free to enter anything.</span>
    <div style="margin-top: 30px; padding: 20px; border: 1px solid #ccc; border-radius: 10px;">
        <h3>CoinGecko API Result (@Model.CoinName in @Model.Currency)</h3>
        <pre style="background-color: #f4f4f4; padding: 10px;">@Model.CoinDataJson</pre>
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Made by Gavin Fiedler</p> <!-- foot note to show who made the page-->
    </footer>
</div>
